@import "~bootstrap/scss/bootstrap";

.ctn {
    width: 80%;
    margin: 0 auto;

}

.card-group {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;

    .card {

        min-width: 33.33%;
        margin: 30px;

        img {
            width: 250px;
        }
    }
}
